/*** Add your styles here **/
.navigation {
  background-color: #8ed3cc;
}

nav.main-nav {
  background-image: url(../img/border_horizontal.png),
                    url(../img/border_horizontal.png);
  background-repeat: repeat-x;  
  background-position: 0px top, 0px bottom;
}