/*** Add your styles here **/
body {
 background-color: #ebebeb;  
}

h2 {
  font-size: 2.4rem;
}

h2 span {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h3 span {
  font-size: 3rem;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: black;
  line-height: 2.4rem;
}

h2 span,
h3 span {
  font-family: 'Italianno', cursive;
  display: block;
  color: #e082a8;
}

.navigation {
  background-color: #8ed3cc;
}

nav.main-nav {
  background-image: url(../img/border_horizontal.png),
                    url(../img/border_horizontal.png);
  background-repeat: repeat-x;  
  background-position: 0px top, 0px bottom;
}

nav.main-nav .nav-item{
  transition: background-color .3s ease;
}

nav.main-nav .nav-item:hover {
  background-color: #39a69b;
  border-radius: 10px;
}

nav.main-nav .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/** Carousel */
.carousel .carousel-caption h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

/** New site */
.new-website p {
  font-size: 1.6rem;
  color: #979797;
  font-family: 'Lato', sans-serif;
}

/** Image links */
 .image-links img {
   border: 6px solid white;
   -webkit-transition: transform .3s ease;
   -ms-transition: transform .3s ease;
   transition: transform .3s ease;
} 

.image-links img:hover {
  -webkit-transform: scale(1.2) rotate(10deg);
  -ms-transform: scale(1.2) rotate(10deg);
  transform: scale(1.2) rotate(10deg);
}

.image-info {
  background-color: white;
  margin-top: -50px;
} 

.image-info .btn-success {
  background-color: #e082a8;
  border: none;
  border-radius: 0;
} 

.image-info .btn-success:hover {
  background-color: #ca5b88;
} 

/** Business hours */
.business-hours {
  background-color: #8ed3cc;
  color: #fff;
}

.business-hours h2 {
  color: #fff;
}

.bg-hours {
  background-image: url(../img/bg_hours.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}

.table {
  border: 2px solid #e082a8;
}

.table td, .table thead th {
  border: none;
}

.table tbody tr td {
  padding: .35rem;
}

.table-danger,
.table-hover .table-danger:hover {
  background-color: #e082a8;
}

/** Products */
.products .card {
  border: none;
}
.products .card a {
  color: #000;
}

.products .card a:hover {
  text-decoration: none;
}

.products .card h3 {
  font-size: 1.3rem;
  color: #e082a8;
}

.products .card p {
  font-size: .8rem
}

.products .card p.price {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #979797;
}

/** Appointment */
.appointment {
  background-image: url(../img/bg_appointment.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
}

.appointment h3 {
  font-size: 3.5rem;
  color: #fff;
  line-height: 4rem;
}

.appointment p {
  line-height: 2.6rem;
}