/*** Add your styles here **/
h2 {
  font-size: 2.4rem;
}

h2 span {
  font-size: 4rem;
}

h2, h3 {
  font-family: 'Lato', sans-serif;
  color: black;
  line-height: 2.4rem;
}

h2 span,
h3 span {
  font-family: 'Italianno', cursive;
  display: block;
  color: #e082a8;
}

.navigation {
  background-color: #8ed3cc;
}

nav.main-nav {
  background-image: url(../img/border_horizontal.png),
                    url(../img/border_horizontal.png);
  background-repeat: repeat-x;  
  background-position: 0px top, 0px bottom;
}

nav.main-nav .nav-item{
  transition: background-color .3s ease;
}

nav.main-nav .nav-item:hover {
  background-color: #39a69b;
  border-radius: 10px;
}

nav.main-nav .nav-link {
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/** Carousel */
.carousel .carousel-caption h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}